
<!-- <video autoplay loop muted>
    <source src="/assets/monika.gif" type="video/gif">
</video> -->

<img class="video" src="/assets/monika.gif" alt="">

<section class="status-icons">
    <div id="status-level">
        <i class="ph-bold ph-heart"></i>
    </div>
    <div id="status-level">
        <i class="ph-bold ph-heart"></i>
    </div>
    <div id="status-level">
        <i class="ph-bold ph-heart"></i>
    </div>
</section>
<section class="nameplate">
    <p>EMOTION</p>
    <!-- <h2 id="name"></h2> -->
    <h2 id="output">Hello</h2>
</section>
<section class="text-input">
    <form action="submit" id="textForm">
        <p> Input Queries Here: </p>
        <textarea name="query" id="query" cols="10" rows="3"></textarea>
        <button type="submit">Submit</button>
    </form>
</section>