<section class="status-elements">
  <span class="selected" id="status-droplet" data-description="Water">
    <i class="ph-bold ph-alarm"></i>
  </span>
  <span id="status-sunlight" class="warning" data-description="Sunlight">
    <i class="ph-bold ph-database"></i>
  </span>
  <span id="status-temperature" class="critical" data-description="Temp">
    <i class="ph-bold ph-security-camera"></i>
  </span>
  <span id="status-humidity" data-description="Humidity">
    <i class="ph-bold ph-translate"></i>
  </span>
</section>
<div class="description"></div>
<video autoplay loop muted>
  <source src="/assets/monika.mp4" type="video/mp4" />
</video>
