<section class="past-queries">
    <h2> Past Queries </h2>
    <ul id="past-queries-list">
        <li> 
            Who is Cris' girlfriend?
            <span class="query"></span>
            <!-- <button class="delete"> Delete </button> -->
        </li>
        <li> Cris actually likes Che! </li>
    </ul>
</section>