<section class="past-queries">
    <h2> Past Queries </h2>
    <ul id="past-queries-list">
        <li> 
            Hello Monika! Nice to meet you!
            <span class="query"></span>
            <!-- <button class="delete"> Delete </button> -->
        </li>
        <li> Good Morning! </li>
    </ul>
</section>